@import 'tailwindcss';

* {
  box-sizing: border-box;
}

@theme {
  --color-primary: #ff5252;
  --background-color: #ff5252;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ff5252;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button:hover {
  background: none !important;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  font-size: 15px !important;
  color: #000 !important;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-navigation-icon {
  width: 50% !important;
  height: 50% !important;
}

.sliderHomeCat {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
  top: 55% !important;
}

.smlBtn .swiper-button-prev:hover,
.smlBtn .swiper-button-next:hover {
  background: #ff5252;
  color: white !important;
}

.homeCatSlider item {
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}

.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  background: #ff5252;
  color: white !important;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

.Mui-selected {
  color: #ff5252 !important;
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
