@import 'tailwindcss';

* {
  box-sizing: border-box;
}

@theme {
  --color-primary: #ff5252;
  --background-color: #ff5252;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  color: #3e3e3e;
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ff5252;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.reviewScroll::-webkit-scrollbar {
  width: 5px !important;
}

.reviewScroll::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
}

.container {
  width: 95%;
  margin: auto;
}

.btn-org {
  background: #ff5252 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 7px 20px;
}

.btn-org:hover {
  background-color: #171717 !important;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button:hover {
  background: none !important;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  font-size: 15px !important;
  color: #000 !important;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-navigation-icon {
  width: 50% !important;
  height: 50% !important;
}

.sliderHomeCat {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
  top: 55% !important;
}

.smlBtn .swiper-button-prev:hover,
.smlBtn .swiper-button-next:hover {
  background: #ff5252;
  color: white !important;
}

.homeCatSlider item {
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}

.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #ff5252;
  color: white !important;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

.Mui-selected {
  color: #ff5252 !important;
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

footer form input::placeholder {
  font-size: 14px;
}

.css-1umw9bq-MuiSvgIcon-root {
  fill: #ff5252 !important;
}

.css-120dh41-MuiSvgIcon-root {
  fill: rgba(0, 0, 0, 0.5) !important;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0 !important;
  opacity: 1 !important;
}

.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0 !important;
  opacity: 1 !important;
}

.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0 !important;
  opacity: 1 !important;
}

.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0 !important;
  opacity: 1 !important;
}

.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0 !important;
  opacity: 1 !important;
}

.homeSliderV2 .info h4 {
  transition-duration: 1.2s;
}

.homeSliderV2 .info h2 {
  transition-duration: 1.5s;
}

.homeSliderV2 .info h3 {
  transition-duration: 1.8s;
}

.homeSliderV2 .info .btn_ {
  transition-duration: 2.1s;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.range-slider {
  height: 3px !important;
}

.range-slider .range-slider__thumb {
  width: 14px !important;
  height: 14px !important;
}

.range-slider .range-slider__thumb,
.range-slider .range-slider__range {
  background-color: #ff5252 !important;
}

.itemViewActions button.active svg {
  color: #ff5252 !important;
}

.css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #ff5252 !important;
  color: #ffffff !important;
}

.zoomProductSliderThumbs {
  height: 70px !important;
  overflow: hidden !important;
}

.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 20px;
}

.zoomProductSliderThumbs .swiper-slide {
  height: auto !important;
}

.zoomProductSliderThumbs .swiper-button-prev {
  top: 0px !important;
  height: 20px !important;
  border-radius: 0px !important;
  width: 100% !important;
  margin-left: -50% !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  height: 20px !important;
  border-radius: 0px !important;
  width: 100% !important;
  margin-left: -50% !important;
}
